@import url("../global.css");

body {
  background-color: var(--background-color);
}

.profile_section {
  display: flex;
  flex-direction: row;
  height: 20vh;
  padding: 1%;
}
.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile img {
  height: 75%;
  width: 250px;
}
.profile label {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: large;
  margin-bottom: 10px;
}

.preferred_genres {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preferred_genres div {
  display: flex;
}

.lists h3 {
  background-color: var(--primary-color);
  font-size: x-large;
  padding: 10px;
}
.lists ul {
  display: flex;
  flex-direction: row;
  padding: 0.5%;
  height: 100%;
  flex-wrap: wrap;
}
.lists ul li {
  margin: 2%;
}
.lists span {
  display: block;
  padding: 2%;
  text-align: center;
}

.suggestion_section h3 {
  background-color: var(--primary-color);
  font-size: x-large;
  padding: 10px;
}
.suggestion_section ul {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.poster {
  margin-right: 20px;
}
.poster button img {
  height: 330px;
  width: auto;
}
.suggestion_section span {
  display: block;
  padding: 2%;
  text-align: center;
}

button#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--text-color);
  transition: color 0.3s;
}
button#theme-toggle:hover {
  opacity: 0.8;
}
