@import url("../global.css");

body {
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: var(--background-color);
  opacity: 0.8;
  display: flex;
  border-radius: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 5%;
}
.content {
  display: flex;
  align-items: center;
}
.leftside {
  padding: 10%;
}
.rightside {
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 12vh;
  width: auto;
}
.title {
  margin-top: 15px;
  font-size: 40px;
  text-align: center;
}
input {
  min-width: 400px;
  height: 50px;
  color: black;
  padding: 10px;
  border-radius: 3cqmax;
  margin-top: 15px;
}
.submitButton {
  background: var(--secondary-color);
  font-size: x-large;
  text-align: center;
  border-radius: 3cqmax;
  color: white;
  margin-bottom: 15px;
  padding: 0;
}
